body {
    margin: 0 auto;
    font: 400 14px/22px "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, Verdana, sans-serif;
    color: #000000;
}

/** === common css === **/
img {
    border: none;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

a {
    color: #245c96;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comments {
    font-size: 11px;
    color: #909090;
}

.inline_span {
    color: #909090;
    font-size: 11px;
}

.inline_span a:hover {
    text-decoration: underline;
}

input {
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 250px;
    font-size: 12px;
    text-align: left;
}

.input_select_field {
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
}

.check_box {
    line-height: 14px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 25px;
}

.radio_box {
    height: 14px;
    line-height: 14px;
    width: 25px;
}

.input_file {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    width: 400px;
    font-size: 12px;
    border: 1px solid #F2F2F2;
}

.input_field_small {;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 100px;
    font-size: 11px;
}

.input_textarea {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    font-size: 12px;
}

.input_button_style {
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    width: 70px;
    height: 22px;
    padding-bottom: 2px;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
}

.input_button_norm {
    width: 85px;
    border: solid 1px #E1E8F0;
    background-color: #fff;
    color: #3a4c66;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.input_button_norm:hover {
    border: solid 1px #E1E8F0;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
}

.blank_separator {
    margin: 0 auto;
    width: 100%;
    height: 4px;
}

/** ==== End of common --->

/** ==== Logo and Menu Section ==== **/
.site_top {
    min-width: 1280px;
    margin: 0 auto;
}

.site_top_left {
    float: left;
    margin-left: 180px;
    display: inline-block;
    height: 95px;
}

.site_top_right {
    float: right;
    margin-right: 180px;
    display: inline-block;
    height: 95px;
}

.right_logo {
    display: inline-block;
    margin-right: 20px;
}

.user_login {
    margin-top: 60px;
    display: inline-block;
    margin-right: 100px;
}

.user_login a {
    float: right;
    width: 60px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #245c96;
    text-decoration: none;
}

.user_login a:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 25px;
}

/** ====  Nav Bar ==== **/
.nav_div {
    background: #245c96;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    clear: both;
}

.nav_menu {
    margin-left: 150px;
    margin-right: 150px;
}

.nav_menu ul ul {
    display: none;
}

.nav_menu ul li:hover > ul {
    display: block;
}

.nav_menu ul {
    list-style-type: none;
    position: relative;
    z-index: 100;
}

.nav_menu ul:after {
    clear: both;
    content: "";
    display: block;
}

.nav_menu ul li {
    float: left;
}

.nav_menu ul li:hover {
    text-decoration: none;
    background-color: #006377;
}

.nav_menu ul li:hover a {
    color: #FFFFFF;
}

.nav_menu ul li a {
    width: 130px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 5px;
}

.nav_menu ul ul {
    background: #245c96;
    padding: 0px;
    position: absolute;
    top: 100%;
}

.nav_menu ul ul li {
    float: none;
    position: relative;

    border-bottom: solid 1px #858585;
}

.nav_menu ul ul li a {
    color: #FFFFFF;
    width: 130px;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.nav_menu ul ul li a:hover {
    text-decoration: none;
    background-color: #3399CC;
}

.nav_menu ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

/** ==== End of  Menu ==== **/

/** === START OF Main Body Section ==== **/
.main_body_div {
    margin-left: 180px;
    margin-right: 180px;
    min-width: 1024px;
    border: solid 1px #C0C7D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.main_middle_div {
    margin: 5px;
}

.left_display_div {
    width: 78%;
    display: inline-block;
}

.left_display_inner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right_display_div {
    float: right;
    width: 20%;
    min-width: 200px;
    display: inline-block;
}

.content_none_border_div {
    margin: 5px;
}

/** page title */
.page_title {
    height: 25px;
    line-height: 25px;
    margin-left: 180px;
    margin-right: 180px;
    min-width: 1024px;
}

.page_title_inline {
    display: inline;
    float: left;
    margin-right: 5px;
    line-height: 25px;
    text-decoration: none;
    color: #989eab;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
}

.page_title_inline a:link, .page_title_inline a:visited {
    text-decoration: none;
    color: #4d5a6d;
}

.page_title_inline img {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 6px;
}

/** end of page title */


/** =========== **/

.dinput_title_section {
    font-weight: bold;
    color: #726E4C;
    height: 25px;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.dinput_row_section {
    padding: 5px;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dinput_line_separator {
    margin: 0 auto;
    width: 100%;
    height: 4px;
    background-color: #e8ebf0;
}

.dfield_left_part {
    float: left;
    width: 140px;
    padding-left: 5px;
    font-weight: bold;
}

.dfield_right_part {
    padding-left: 5px;
    margin-left: 150px;
    text-align: left;
    /**border: solid 1px #b0f0c3;*/
}
.dfield_img {
    vertical-align: middle;
    cursor: pointer;
}
.dfield_tab {
    width: 100%;
    border: 0px;
}

.dfield_tab tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dfield_tab tr:nth-child(odd) {
    background-color: #ffffff;
}


.dfield_inner {
    padding: 10px;
    border: solid 1px #f4f4f4;
    font-size: 12px;
}

.dfield_comments {
    padding-left: 5px;
    margin-left: 150px;
    font-size: 11px;
    color: #909090;
}

.dlabel_fixed_span {
    width: 180px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 11;
    padding-left: 3px;
}

.dcomment_span {
    display: inline-block;
    font-size: 11px;
    color: #909090;
}

.dvalue_row_div {
    margin-top: 3px;
    margin-bottom: 3px;
}

.dinput_small {
    width: 50px;
    size: 50px;
}


.file_uploading_div {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.actionError {
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: auto;
    margin-top: 2px;
    color: #b24f3c;
    border-collapse: collapse;
    font-weight: normal;
    text-align: left;
}

.actionMessage {
    padding: 10px;
    color: #58553a;
}

/** === Footer === **/

.ands_sponsor {
    padding-top: 5px;
    text-align: justify;
    margin-left: 100px;
    color: #858585;
}

.ands_sponsor a {
    color: #245c96;
    text-decoration: none;
}

.site_others {
    margin-left: 180px;
    margin-right: 180px;
    min-width: 1024px;
    border: solid 1px #C0C7D5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.site_others_inner {
    display: block;
    text-align: justify;
    font-size: 12px;
    color: #858585;
    margin: 10px;
    padding: 10px;
}

.site_others_inner a {
    color: #245c96;
    text-decoration: none;
}

.sponsor {
    margin-left: 180px;
    margin-right: 180px;
    min-width: 1024px;
    border: solid 1px #C0C7D5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.sponsor_link {
    float: left;
    width: 80px;
}

.sponsor_inner {
    display: block;
    text-align: justify;
    color: #858585;
    margin: 10px;
    padding: 10px;
}

.footer {
    margin: 0 auto;
    background: none repeat scroll 0 0 #EFF2F7;
    border-top: 10px solid #245c96;
    min-width: 1280px;
}

.copyright {
    color: #000000;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #245c96;
    font-weight: bold;
    text-decoration: none;
}